[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-gitlab = "*"
requests = {version = "*", extras = ["security"]}
click = "*"
werkzeug = "*"
python-dotenv = "*"

[dev-packages]
pylint = "==2.4.4"
"flake8" = "*"
yapf = "==0.23.0"

[requires]
python_version = "3.6"
