[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-gitlab = "*"
requests = {version = "*", extras = ["security"]}
click = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.6"
